openapi: 3.0.3
info:
  title: Unofficial Skylight API (Community Reference)
  version: 0.4.0
  description: |
    Reverse-engineered reference for Skylight endpoints based on observed traffic.
    JSON:API-style resources are common (type, id, attributes, relationships).
    **Unofficial**; for research and interoperability. All examples redacted.
servers:
  - url: https://app.ourskylight.com
x-observed-api-version: "2026-03-01"
x-current-request-api-version: "2026-03-01"
x-last-live-route-check: "2026-05-10"
tags:
  - name: Frames
  - name: Chores
  - name: Categories
  - name: Devices
  - name: Lists
  - name: TaskBox
  - name: Calendars
  - name: Rewards

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    basicToken:
      type: http
      scheme: basic
      description: |
        Observed Authorization header uses an opaque Basic token. Treat as secret.

  schemas:
    JsonApiResourceId:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
      required: [type, id]

    # ---- Categories ----
    CategoryAttributes:
      type: object
      properties:
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        selected_for_chore_chart:
          type: boolean
          nullable: true
        linked_to_profile:
          type: boolean
          nullable: true
        label:
          type: string
          nullable: true
        profile_pic_url:
          type: string
          nullable: true
      additionalProperties: true

    CategoryResource:
      type: object
      properties:
        type:
          type: string
          description: JSON:API resource type
          enum: [category]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/CategoryAttributes'
      required: [type, id]

    # ---- Chores ----
    ChoreAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        summary:
          type: string
        status:
          type: string
          description: Known values include 'pending'
        start:
          type: string
          format: date
        start_time:
          type: string
          nullable: true
          description: e.g., '10:00'
        completed_on:
          type: string
          nullable: true
        is_future:
          type: boolean
          nullable: true
        recurring:
          type: boolean
        recurring_until:
          type: string
          nullable: true
        recurrence_set:
          type: string
          nullable: true
          description: RRULE-like string
        reward_points:
          type: integer
          nullable: true
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
        position:
          type: integer
          nullable: true
      additionalProperties: true

    ChoreRelationships:
      type: object
      properties:
        category:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/JsonApiResourceId'

    ChoreWriteRequest:
      type: object
      description: |
        Current flat body shape used by the mobile API for chore create/update.
        Older captured examples used a JSON:API envelope; prefer this flat body
        for new clients.
      properties:
        summary:
          type: string
        status:
          type: string
          enum: [pending, complete, skipped]
        start:
          type: string
          format: date
        start_time:
          type: string
          nullable: true
        recurring:
          type: boolean
        category_id:
          type: string
        reward_points:
          type: integer
          nullable: true
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
      additionalProperties: true

    ChoreCompletionRequest:
      type: object
      properties:
        status:
          type: string
          enum: [complete, skipped, pending]
        instance_date:
          type: string
          format: date
          nullable: true
      required: [status]
      additionalProperties: true

    ChoreResource:
      type: object
      properties:
        type:
          type: string
          description: JSON:API resource type
          enum: [chore]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/ChoreAttributes'
        relationships:
          $ref: '#/components/schemas/ChoreRelationships'
      required: [type, id, attributes]

    # ---- Devices ----
    DeviceAttributes:
      type: object
      description: Placeholder until a 200 body is captured.
      additionalProperties: true

    DeviceResource:
      type: object
      properties:
        type:
          type: string
          enum: [device]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/DeviceAttributes'
      required: [type, id]

    # ---- Lists ----
    ListAttributes:
      type: object
      properties:
        label:
          type: string
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        kind:
          type: string
          description: "Known values: shopping or to_do"
        default_grocery_list:
          type: boolean
      additionalProperties: true

    ListRelationships:
      type: object
      properties:
        list_items:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/JsonApiResourceId'

    ListResource:
      type: object
      properties:
        type:
          type: string
          enum: [list]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/ListAttributes'
        relationships:
          $ref: '#/components/schemas/ListRelationships'
      required: [type, id, attributes]

    ListItemAttributes:
      type: object
      properties:
        label:
          type: string
        status:
          type: string
          enum: [pending, completed]
        section:
          type: string
          nullable: true
        position:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
      additionalProperties: true

    ListItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [list_item]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/ListItemAttributes'
      required: [type, id]

    # ---- Task Box Items ----
    TaskBoxItemAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        summary:
          type: string
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
        reward_points:
          type: integer
          nullable: true
      additionalProperties: true

    TaskBoxItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [task_box_item]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/TaskBoxItemAttributes'
      required: [type, id, attributes]

    # ---- Frames (minimal) ----
    FrameAttributes:
      type: object
      additionalProperties: true

    FrameResource:
      type: object
      properties:
        type:
          type: string
          enum: [frame]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/FrameAttributes'
      required: [type, id]

    # ---- Calendars ----
    SourceCalendarAttributes:
      type: object
      additionalProperties: true

    SourceCalendarResource:
      type: object
      properties:
        type:
          type: string
          enum: [source_calendar]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/SourceCalendarAttributes'
      required: [type, id]

    CalendarEventAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    CalendarEventResource:
      type: object
      properties:
        type:
          type: string
          enum: [calendar_event]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/CalendarEventAttributes'
      required: [type, id]

    # ---- Rewards ----
    RewardAttributes:
      type: object
      additionalProperties: true

    RewardResource:
      type: object
      properties:
        type:
          type: string
          enum: [reward]
        id:
          type: string
        attributes:
          $ref: '#/components/schemas/RewardAttributes'
      required: [type, id]

    RewardPointBalance:
      type: object
      properties:
        category_id:
          type: integer
        current_point_balance:
          type: integer
      additionalProperties: true

paths:
  # ---- Frames ----
  /api/frames:
    get:
      tags: [Frames]
      summary: List frames
      operationId: listFrames
      description: |
        Route observed on 2026-05-10 via unauthenticated request returning
        `401 {"errors":["Invalid token"]}` with `skylight-api-version: 2026-01-01`.
        Authenticated 200 body shape has not yet been captured.
      security:
        - basicToken: []
        - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/FrameResource' }
        '401':
          description: Unauthorized

  /api/frames/{frameId}:
    get:
      tags: [Frames]
      summary: Get frame by id
      operationId: getFrame
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FrameResource'
        '304':
          description: Not Modified

  # ---- Chores ----
  /api/frames/{frameId}/chores:
    get:
      tags: [Chores]
      summary: List chores for a frame in a date range
      operationId: listChores
      description: |
        Observed query params: after, before (YYYY-MM-DD), include_late (bool), filter=linked_to_profile.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: after
          schema: { type: string, format: date }
        - in: query
          name: before
          schema: { type: string, format: date }
        - in: query
          name: include_late
          schema: { type: boolean }
        - in: query
          name: filter
          schema:
            type: string
            enum: [linked_to_profile]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ChoreResource' }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryResource' }
        '304':
          description: Not Modified
    post:
      tags: [Chores]
      summary: Create a chore
      operationId: createChore
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChoreWriteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ChoreResource' }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryResource' }

  /api/frames/{frameId}/chores/{choreId}:
    put:
      tags: [Chores]
      summary: Update a chore
      operationId: updateChore
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: choreId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChoreWriteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ChoreResource' }
        '204':
          description: No Content
    delete:
      tags: [Chores]
      summary: Delete a chore
      operationId: deleteChore
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: choreId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
        '204':
          description: No Content

  /api/frames/{frameId}/chores/{choreId}/completions:
    put:
      tags: [Chores]
      summary: Complete, skip, or reset a chore completion state
      operationId: setChoreCompletion
      description: |
        Recurring chore instance ids may include a date suffix such as
        `18731133-2026-04-28-0600`; send the numeric base id in the path and
        `instance_date: 2026-04-28` in the body.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: choreId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChoreCompletionRequest'
      responses:
        '200':
          description: OK
        '204':
          description: No Content

  # ---- Categories ----
  /api/frames/{frameId}/categories:
    get:
      tags: [Categories]
      summary: List categories
      operationId: listCategories
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CategoryResource' }
        '304':
          description: Not Modified

  # ---- Devices ----
  /api/frames/{frameId}/devices:
    get:
      tags: [Devices]
      summary: List devices
      operationId: listDevices
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/DeviceResource' }
        '304':
          description: Not Modified

  # ---- Lists ----
  /api/frames/{frameId}/lists:
    get:
      tags: [Lists]
      summary: List lists
      operationId: listLists
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ListResource' }
        '304':
          description: Not Modified

  /api/frames/{frameId}/lists/{listId}:
    get:
      tags: [Lists]
      summary: Get list by id
      operationId: getList
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ListResource' }
                  meta:
                    type: object
                    properties:
                      sections:
                        type: array
                        items: { type: object }
                  included:
                    type: array
                    items: { $ref: '#/components/schemas/ListItemResource' }

  # ---- Task Box ----
  /api/frames/{frameId}/task_box/items:
    post:
      tags: [TaskBox]
      summary: Create a task box item
      operationId: createTaskBoxItem
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [task_box_item]
                    attributes:
                      $ref: '#/components/schemas/TaskBoxItemAttributes'
                  required: [type, attributes]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/TaskBoxItemResource' }

  # ---- Calendars ----
  /api/frames/{frameId}/source_calendars:
    get:
      tags: [Calendars]
      summary: List source calendars
      operationId: listSourceCalendars
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SourceCalendarResource' }
        '304':
          description: Not Modified

  /api/frames/{frameId}/calendar_events:
    get:
      tags: [Calendars]
      summary: List calendar events for a date range
      operationId: listCalendarEvents
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: date_min
          required: true
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: true
          schema: { type: string, format: date }
        - in: query
          name: timezone
          required: false
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV: categories,calendar_account,event_notification_setting"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CalendarEventResource' }
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/CategoryResource'
                        - $ref: '#/components/schemas/SourceCalendarResource'
        '304':
          description: Not Modified

  # ---- Rewards ----
  /api/frames/{frameId}/rewards:
    get:
      tags: [Rewards]
      summary: List rewards
      operationId: listRewards
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: redeemed_at_min
          required: false
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RewardResource' }
        '304':
          description: Not Modified

  /api/frames/{frameId}/reward_points:
    get:
      tags: [Rewards]
      summary: List reward points
      operationId: listRewardPoints
      description: |
        Live smoke test on 2026-05-10 returned a top-level array rather than a
        JSON:API `{data: [...]}` envelope.
      security:
        - basicToken: []
        - bearerAuth: []
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RewardPointBalance' }
        '304':
          description: Not Modified
